/* ==========================
   AssetFlow Signup Page
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f4f6ff;
}

.container{
    display:flex;
    height:100vh;
}

/* Left Panel */

.left{
    width:42%;
    background:linear-gradient(135deg,#4F46E5,#6D28D9);
    color:white;
    padding:60px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:40px;
}

.logo img{
    width:60px;
}

.logo h2{
    font-size:34px;
    font-weight:700;
}

.left h1{
    font-size:42px;
    margin-bottom:20px;
}

.left p{
    font-size:18px;
    line-height:32px;
    opacity:.9;
}

.illustration{
    width:90%;
    margin-top:40px;
}

/* Right Panel */

.right{
    width:58%;
    background:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

.signup-box{
    width:450px;
}

.signup-box h2{
    font-size:36px;
    color:#222;
}

.signup-box p{
    margin:10px 0 30px;
    color:#777;
}

.input-box{
    display:flex;
    align-items:center;
    border:1px solid #ddd;
    border-radius:12px;
    padding:15px;
    margin-bottom:18px;
    transition:.3s;
}

.input-box:hover{
    border-color:#5B3DF5;
}

.input-box i{
    color:#5B3DF5;
    margin-right:12px;
}

.input-box input{
    width:100%;
    border:none;
    outline:none;
    font-size:16px;
}

button{
    width:100%;
    padding:16px;
    border:none;
    border-radius:12px;
    background:#5B3DF5;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#4328d5;
}

.login{
    text-align:center;
    margin-top:25px;
}

.login a{
    color:#5B3DF5;
    text-decoration:none;
    font-weight:600;
}

.login a:hover{
    text-decoration:underline;
}

/* Responsive */

@media(max-width:900px){

.container{
    flex-direction:column;
}

.left,
.right{
    width:100%;
}

.left{
    text-align:center;
    align-items:center;
    padding:40px;
}

.signup-box{
    width:90%;
    padding:40px 0;
}

.logo{
    justify-content:center;
}

}